manuscripts/components/cache
manuscripts/components/github_highlighting.R
manuscripts/components/figure
manuscripts/*.pdf
vignettes/cache
vignettes/figure
vignettes/*.md
vignettes/*.pdf
vignettes/*.html
inst/doc
.Rproj.user
*.Rproj
*/*.Rhistory
.Rhistory
birds.xml
geospiza.xml
.DS_Store
