manuscripts/components/cache
manuscripts/components/github_highlighting.R
manuscripts/components/figure
manuscripts/*.pdf
vignettes/*.pdf
.Rproj.user
*.Rproj
*/*.Rhistory
.Rhistory
birds.xml
geospiza.xml
.DS_Store