manuscripts/components/cache
manuscripts/components/figure
vignettes/cache
vignettes/figure
.Rproj.user
*/*.Rhistory
.Rhistory
_site
RNeXML.RCheck
RNeXML*.tar.gz
cache
tests/testthat/Rplots.pdf
tests/testthat/tmp.xml
tests/testthat/ex.tre
tests/testthat/ex.xml
