export(flatten_multiphylo)
export(get_characters)
export(get_characters_list)
export(get_item)
export(get_otu)
export(get_otu_maps)
export(get_taxa)
export(meta)
export(nexml_read)
export(nexml_validate)
export(nexml_write)
export(read.nexml)
export(write.nexml)
exportMethods(get_citation)
exportMethods(get_flat_trees)
exportMethods(get_license)
exportMethods(get_metadata)
exportMethods(get_tree)
exportMethods(get_trees)
import(XML)
import(ape)
import(httr)
import(plyr)
import(reshape2)
import(taxize)
