export(meta)
export(nexml_read)
export(nexml_write)
export(read.nexml)
export(write.nexml)
exportMethods(get_citation)
exportMethods(get_license)
exportMethods(get_metadata)
import(XML)
import(ape)
import(plyr)
import(taxize)
