export(flatten_multiphylo)
export(get_item)
export(meta)
export(nexml_read)
export(nexml_write)
export(read.nexml)
export(write.nexml)
exportMethods(get_citation)
exportMethods(get_license)
exportMethods(get_metadata)
exportMethods(get_taxa)
exportMethods(get_tree)
exportMethods(get_trees)
import(XML)
import(ape)
import(plyr)
import(taxize)
